a:link{
    color: red;
}
a:visited{
    color: aqua;
}
a:hover{
    color: purple;
}
a:active{
    color: black;
}
p::first-line{
    background-color: black;
    color: aqua;
}
p::first-letter{
    background-color: black;
}


.description::before{
    content: "";
    background-color: blue;
    width: 10px;
    height: 10px;
    display: inline-block;
}
.description::after{
    content: "";
    background-color: red;
    width: 10px;
    height: 10px;
    display: inline-block;
}
.zemer{
    width: 50px;
    height: auto;
    transform: scale(1);
    transition: 3s ease-in-out;
}
.zemer:hover{
    width: 55px;
    height: auto;
    transform: scale(2);
}
