.main{
    background-image: url(https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,h_700,q_75,w_1366/v1/clients/virginia/SV15093003V_004_scaled_eefe5c67-5a60-4377-8536-27d85547fb2e.jpg);
    width: 100vw;
    height: 100vh;
    opacity: 0.8;
    background-repeat: no-repeat;


}