
h1{
    text-align: center;
    color: white;
}
div{
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("https://onetreeplanted.org/cdn/shop/articles/nature_facts_1788x.jpg?v=1705008496");
}
button{
   background-color: orange;
   color: white;
}