h1{
    text-align: center;
    color: white;
}
div{
    background-image: url(https://cdn.pixabay.com/photo/2018/02/02/17/29/nature-3125912_960_720.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    
}
p{
    color: white;
    text-align: center;
}